input {
  margin: 2px;
}

.homepage-photo-user:hover {
  text-decoration: underline;
}

.only-fade-gray {
  text-decoration: underline;
}

.only-fade-gray:hover {
  color: gray;
}

.fa-cloud-upload {
  height: 30px;
  width: 30px;
}

.errors-color {
  color: red;
}
